.search-input{
    width: 100%;
}
.header-nav{
    padding: 10px;
    &__item{
        font-size: 20px;
        &:hover{
        text-decoration: underline;
        color: red;
        }
        &--private{
            width: 100%;
            text-align: end;
            font-size: 16px;
            
        }
    }
    
}