.search-input{
    width: 100%;
}
.header-nav{
    padding: 10px;
    &__item{
        font-size: 20px;
        &:hover{
        text-decoration: underline;
        color: red;
        }
        &--private{
            width: 100%;
            text-align: end;
            font-size: 16px;
            
        }
    }
    
}

.search-block{
    display: flex;
    margin-bottom: 40px;
  
}
.search-block__btn.ui.button{
    padding: 15px;
    font-size: 15px;
    i{
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
     }
}
