.error-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    &__title{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    &__img{
        max-width: 100%;
    }
}