@import './Fonts/index.scss';

* {
	margin: 0;
	padding: 0;
}

body{
  font-family: 'Roboto', sans-serif !important;
}

#root{
  height: 100%;
}

.d-flex{
    display: flex !important;
    flex-wrap: wrap;
  }